.tierContainer{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}
.tier{
    height: 6rem;
    width: 50%;
    background-color: #464646;
    display: inline-flex;
}

.tierRank{
    position: relative;
    height: 6rem;
    width: 6%;
}

.tierLetter{
    position: absolute;
    top: 35%;
    left: 45%;
    padding: 0;
    margin:0;
    text-align: center;
}